body{
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}


/* ======= Head ======= */

.header {
    min-width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* ======= Head Top ======= */

.header-top {
    width: 100vw;
    height: 40px;

    padding-right: 50px;
    padding-left: 50px;

    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    
    display: flex;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo span {
    color: red;
}

.head-contacts {
    display: flex;
}

.head-contacts div{
    margin: auto 0;

}


.head-contacts img{
    margin: auto 5;
    height: 25px;
}

.head-tel a{
    color: black;
    text-decoration: none;
}

.head-tel img {
    margin-right: 10px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
/* ======= Head Bottom ======= */
.header-bottom {
    width: 100vw;
    height: 60px;
    min-width: 550px;

    padding-right: 50px;
    padding-left: 50px;

    background-color: #ffffff;

    display: flex;
    justify-content:center;
    align-items: center;
}

.nav-link {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

    margin: 0 10 0 10;

    padding: 10;
}

.nav-active {
    color: red;
}

/* ======= Body ======= */

main {
    height: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parall-layer {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
  }


.background-parall {
    width: 100%; 
    height: 100vh;
    background: url(../img/Image1.jpg) no-repeat left;
    background-size: cover;

}
.background-parall::before {
    content: "";
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) brightness(60%);

}



.parall-layer-base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

.parall-layer-back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: -1;

  }

  .parall-layer-back img {
      min-width: 1000px;
    position: absolute;
    top: -20vh;
    /* left: -15%; */
    width: 100%;
    background-size: cover;
  }

.paragraph {
    width: 100%; 
    
    background-color: #fff;
    /* background-color: rgb(161, 161, 161); */
}

.paragraph:nth-child(odd) {
    background-color: rgb(250, 250, 250)
}

.paragraph:nth-child(1){
    background: none;
}




/* ======= PRE section ======= */

.container {
    width: 100%;
    max-width: 1200px;
    padding: 15px 0;
    margin: auto;
}
.title-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    transform: translate(0%, 50%);
    box-shadow: inset 0px 0px 40px 40px #ec161600;
}



.main-page-title {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.main-page-title span {
    color: red;
}

.home-text {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}






/* ======= 1st section Title ======= */

.title-section {
    text-align: center;
    padding: 20;
    font-size: 35px;
}

.title-section::after {
    content: "";
	display: block;
	margin: 0 auto;
	width: 180px;
	height: 1px;
    background-color: #000;
}

.subtitle-section {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    
    margin-bottom: 30px;
}

.about {
    width: 100%;
    max-width: 1200px;

    margin: 50px auto;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0;

}

.card-body {
    width: 200px;
    height: 250px;
    min-width: 120px;

    padding: 25 15;

    margin: 15px;

    flex-basis: 15%;
    list-style-type: none;
    border-radius: 10px;

}

.card-body:nth-child(odd) {
    border: black solid 1px;
    background-color: rgba(255, 67, 67, 0.144);
    backdrop-filter: blur(10px);
}

.card-body:nth-child(even) {
    border: black solid 1px;
    background-color: rgba(67, 186, 255, 0.144);
    backdrop-filter: blur(10px);
   
}

.about img {
    display: block;
    margin: auto;
    width: 5vw;
}

.card-inner {
    display: block;
    width: 100%;
}

.title-about {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    padding-top: 30px;
}




/* ======= 2nd section Services ======= */

.services {
    background-color: rgb(255, 255, 255);
}


.services-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 30px;

    
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    width: 30px;
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;

    padding-bottom: 10px;
}


/* ======= 3rd section Contacts ======= */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-inner {
    display: inline;
    width: 33.333333%;
    min-width: 200px;
    text-align: center;
}

.contact-picture {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50px;
    background-color: red;
    position: relative;
}

.contact-picture svg {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    width: 50%;
    fill: #fff;
}

.contact-description {
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: black;

    margin: 40px 0;
}

            /* Map */
.map {
    text-align: center;
}

.map-body {
    padding: 40px 0;
    background: #e6e6e6 url("../img/map-bg.jpg") center no-repeat;
    background-size: cover;
}

.map__title {
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;

    background-color: #f38181;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}



/* ======= 4th section Contacts ======= */

.contact-body {
    width: 100%;
    max-width: 1200px;
    
    margin: 50px auto;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-input {
    width: 50%;
    padding: 0 15px;
}

.input {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 0 10px 15px;
    width: 100%;
    display: block;
    outline: none;


    font-family: Helvetica, sans-serif;
    color: #bdbdbd;
    transition: border .2s linear;
}

.lil-input {
    margin-top: 35px;
}

.message {
    height: 100%;
    resize: none;
    overflow: auto;
}

.input:focus {
    border-bottom: 1px solid #000;
}

.btn {
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 30px;
    background-color: red;
    
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background-color .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #ddd;
    color: #333;
}

.btn:active {
    background-color: #999;
}


/* ======= Footer ======= */





/*=========== Media ===========*/


@media (max-width:770px) {
    .parall-layer-back img {
    left: -15%;
    top: -30vh;
    width: 170%;
    }

    .services__item {
        padding: 0px 20px 0px 65px;
    }
}

@media (max-width:700px) {
    .services__text {
        display: none;
    }

    .head-contacts, .head-tel {
        display: none;
    }

    .header-top {
        justify-content: space-around;
    }

    .parall-layer-back img {
        left: -15%;
        top: -22vh;
        width: 170%;
        }
}


@media (max-width:600px) {

    .header-top {
        height: 30px;
    }

    .header-bottom{
        height: 40px;
    }



    .card-body {
        width: 50%;
        flex-basis: 30%;
    }

    /* services */

    .services__item--border {
        border: none;
    }

    .services__item {
        width: 100%;
        max-width: 300px
    }


    /* contact */
    .contact-inner {
        width: 100%;
    }

    .contact-picture {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    .contact-description {
        margin: 20px 0;
    }
}


    

@media (max-width:450px) {

    .home-text {
        letter-spacing: 3px;
    }

    .main-page-title {
        font-size: 35px;
    }

}
